.post-container {
    background-color: rgba(102, 51, 153, 0.2);
    border-radius: 10px;
    width: 400px;
    height: 500px;
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: column;
    margin: 10px
}

.post-img-container {
    width: auto;
    object-fit: contain;
    display: flex;
    justify-content: center;
    
}

.post-img{
    object-fit: cover;
    width: 400px;
    aspect-ratio: 2/1;
    border-radius: 10px 10px 0 0;
}

.post-content-container {
  margin-top: 10px;
}

.post-title {
    font-size: 50px;
    font-family: 'Dongle', sans-serif;
}


.post-text {
    overflow: hidden;
    width:auto;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}