.edit-logo-img {
    width: 200px;
    height: 200px;
}

.edit-post-image{
    justify-content: center;
    display: flex;
}

.post-header-image-div {
    display: flex;
    
}

.image-src-input{
    height: 50px;
}

.post-header-image{
    width: 200px;
    aspect-ratio: 16/9;
}

.edit-post-btns {
    display: flex;
    justify-content: space-between;
    margin:50px 0;
}

#add-post-div{
    display: flex;
}

.delete-post-btn{
    background-color: #dc3545 !important;
}


.ql-editor > h1 > span {
    font-size: 36px !important;
    font-weight: bold !important;

}

.ql-editor > h1 {
    font-size: 36px !important;
    font-weight: bold !important;
    text-align: center;
    color: rgb(109, 109, 109) !important;
}

.ql-editor > h2 {
    font-size: 28px !important;
    color: rgb(109, 109, 109) !important;
}